.location-cell:hover {
  background: white;
  transition: 0.4s;
}

.location-cell:hover .location-title {
  color: #151515;
}

.location-title {
  letter-spacing: 10px;
  padding-top: 120px;
  font-weight: 600;
  color: white;
}
