.location-cell:hover {
  background: #F5F5F5;
  transition: 0.4s;
}

.location-cell:hover .location-title {
  color: #151515;
}

.location-title {
  letter-spacing: 10px;
  padding-top: 120px;
  font-weight: 600;
  color: #F5F5F5;
}

.active {
  background: #F5F5F5;
  transition: 0.5s;
  color: #151515;
}
.active .card-title {
  color: #151515;
  text-align: left;
  transition: 0.5s;

}
.active > h4 {
  color: #151515
}
